.root {
    -fx-background-color: MistyRose;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0.5, 0, 1);
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #FFB08E;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-padding-right: 50px;
    -fx-padding-left: 50px;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #FFB08E;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #FFB08E;
    -fx-border-radius: 10px;
    -fx-padding: 8px 15px;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #FF8C6B;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 25px;
    -fx-border-radius: 6px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
    -fx-background-insets: 0;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #FF7B54;
}

.button:pressed {
    -fx-background-color: #FF6B42;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.form-container {
    -fx-background-color: #ffffff;
    -fx-border-color: #FFB08E;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}